.authForm {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.authForm form {
	width: 50vw;
	padding: 20px;
}

.authForm hr {
	border: 2px solid grey;
	border-radius: 15px;
	width: 50vw;
}

@media screen and (max-width: 900px) {
	.authForm form {
		width: 70vw;
	}
	.authForm hr {
		width: 70vw;
	}
}
