.singlePostPage {
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nested-navbar {
	width: 80vw;
	display: flex;
	justify-content: flex-start;
	margin-top: 2vh;
}
