.main {
	width: 55vw;
	margin: 3vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.input-field .MuiInput-input {
	width: 30vw;
}

@media screen and (max-width: 900px) {
	.main {
		width: 80vw;
	}
}
