.post-form {
	height: 85vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.post-form form {
	width: 90%;
	padding: 1vw;
	border: 2px solid grey;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.post-form .form-control {
	width: 50vw;
}

.post-form button {
	margin-top: 3vh;
}

.post-form hr {
	width: inherit;
	border: 2px solid black;
}

.form-label span {
	color: grey;
	font-size: 0.8rem;
}

.markdown-preview {
	width: 50vw;
}
