.post-form {
	height: fit-content;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2vh 0;
}

.post-form form {
	width: 90%;
	padding: 1vw;
	border: 2px solid grey;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.post-form .form-control,
.form-label {
	width: 50vw;
}

.post-form hr {
	width: inherit;
	border: 2px solid black;
}

.form-label span {
	color: grey;
	font-size: 0.8rem;
}

.nav {
	margin: 0;
	padding: 0;
	font-size: 1.5vh;
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 600px) {
	.post-form .form-control,
	.form-label {
		width: 80vw;
	}
}

@media screen and (max-width: 300px) {
	.markdown-preview .nav-items {
		font-size: 5px;
	}
}
